.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weatherBg{
  background:url("https://pngtree.com/freebackground/fantasy-sky-background-h5_420873.html");
  background-color: aqua;
  margin: auto;
  width: 450px;
  height: 500px;

  justify-content: center;
}
.heading{
  color:red;
  font-size: 700;
}

.btn {
  width: 300px;
  align-self:center;
  ;
}
.form_control{
  width: 300px;
  align-items: center;
}

.weatherResultBox{
  margin: auto;
  width: 500px;
  height: 500px;
}
.wetherCity{
  
  align-content: center;
  font-size: 35px;
}
.weatherTemp{
  margin-top: 2 rem;
  font-size: 55px;
  font-weight: 700;
  font-style: italic;
  align-self: start;
}
.humidity{
  align-content: center;
  font-size: 35px;


}
.sunrise{
  align-content: center;
  font-size: 35px;

}
.sunset{
  align-content: center;
  font-size: 35px;



}